html {
  scroll-behavior: smooth;
}

body {
  padding-top: 56px;
}

.card-deck .card {
  margin-bottom: 20px;
}

p.p-margin {
  margin: auto 0;
  padding: 15px 0;
}

a:link {
  text-decoration: none;
}
